@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Cormorant+Garamond:ital,wght@1,500&family=Dancing+Script:wght@700&family=Quicksand:wght@300&family=Roboto+Condensed&family=Roboto:wght@300&display=swap');

.added-list{
    width: 400px;
    height: 670px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 10px 10px rgba(0.4,0.4,0.4,0.4);
    font-family: 'Arvo', serif;
}

.listOfFavorite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}