.register-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register{
    width: 70%;
    height: 850px;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form{
    height: 700px;
}

.textUp{
    width: 100%;
}

