@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Dancing+Script:wght@700&family=Quicksand:wght@300&family=Roboto+Condensed&family=Roboto:wght@300&display=swap');
.home-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home{
    width: 70%;
    height: 800px;
    margin-right: 15px;
    margin-left: 15px;
}
.home-text{
    color: #0d3b66;
    margin-top: 70px;
    font-family: 'Arvo', serif;
    width: 70%;
}